{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block top %}
<div class="container">
    <!-- titre -->
    <div class="text-center">
    </div>
    <!-- menu -->
        <nav class="navbar navbar-light bg-light mt-3">
            <ul class="navbar-nav flex-row">

                <li class="nav-item me-3">
                    <a class="nav-link" href="{{ path('admin.voyages') }}">Accueil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin.environnements') }}">Environnement</a>
                </li>

            </ul>
        </nav>
</div>
{% endblock %}

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
